* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  grid-template-areas:
    "nav"
    "main"
    "section"
    "footer";
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*modificaciones del navbar*/
.logo {
  margin: 5px;
  width: 10em;
  height: 8em;
}
.img-logo {
  width: 100%;
  height: 100%;
}
.navbar {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  background-color: rgb(255, 195, 195);
}
ul {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: move 2s 1;
}
ul li {
  padding: 15px;
  list-style: none;
  transition: box-shadow 400ms ease-in-out;
}
li:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
}
li a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.9)
}
@keyframes move {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
/*modificaciones del main*/

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "cart1 cart2 cart3"
    "cart4 cart2 cart5"
    "cart6 cart7 cart8"
    "cart6 cart9 cart10";
  /* grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr; */
  padding: 5px;
  gap: 5px;
}
.cart {
  position: relative;
  opacity: 1;
}
.button-transition {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 80%;
  left: 80%;
  opacity: 0;
  transition: opacity 400ms ease-in;
}
.text-transition {
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  top: 80%;
  left: 10%;
  opacity: 0;
  transition: opacity 400ms ease-in;
}
.cart:hover .button-transition {
  opacity: 1;
}
.cart:hover .text-transition {
  opacity: 1;
}
.cart:hover {
  opacity: 0.9;
}
.cart img {
  width: 100%;
  height: 100%;
}
.cart1 {
  grid-area: cart1;
}
.cart2 {
  grid-area: cart2;
}
.cart3 {
  grid-area: cart3;
}
.cart4 {
  grid-area: cart4;
}
.cart5 {
  grid-area: cart5;
}
.cart6 {
  grid-area: cart6;
}
.cart7 {
  grid-area: cart7;
}
.cart8 {
  grid-area: cart8;
}
.cart9 {
  grid-area: cart9;
}
 i {
  width: 20px;
  min-height: auto;
  color: rgba(18, 21, 29, 0.71);
} 
section {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(191, 121, 121);
}

.content-publi {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
 animation: movimiento 25s infinite;
}
.div-publicity {
  width: 8em;
  height: 5em;
  
}
.div-publicity img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.6;
}
/* @keyframes movimiento {
  from {
    transform: translateX(-100%)
}
 to {
    transform: translateX(100%)
}
} */
/*estilos del footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  background-color: rgb(190, 97, 97);
}
footer div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 25px;
}
@media (min-width: 576px) {
  body {
    grid-template-areas:
    "nav main"
    "nav main"
    "section"
    "footer";
  }
  ul {
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
  }
};
  
